@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 15, 23, 42, 1;
  --white: 255, 255, 255, 1;
  --background: 15, 23, 42, 1;
  --foreground: 255, 255, 255, 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: 15, 23, 42, 1;
    --background: 15, 23, 42, 1;
    --foreground: 255, 255, 255, 1;
  }
}

body {
  color: rgba(var(--white));
  background: rgba(var(--background));
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.background-circle {
  background-color: transparent;
  background-image: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.1) 1%,
    rgb(6 19 45) 40%
  );
  background-size: 4px 4px;
  backdrop-filter: blur(3px);
  mask: linear-gradient(rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
  opacity: 1;
}
